<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.putianhouduan.PhotovoltaicSmartSupplyChain.dao.WareHousesDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.putianhouduan.PhotovoltaicSmartSupplyChain.dto.WareHouses">
        <id column="warehouse_id" property="warehouseId" />
        <result column="name" property="name" />
        <result column="location" property="location" />
        <result column="description" property="description" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        warehouse_id, name, location, description, created_at, updated_at
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            warehouses
    </select>

    <select id="selectBywareId" resultMap="BaseResultMap">
        SELECT
            warehouse_id,
            name,
            location,
            description,
            created_at,
            updated_at
        FROM
            warehouses
        WHERE warehouse_id = #{id}

    </select>



</mapper>
